<template>
     <div class="cart">
    <h1 class="title">Your Cart</h1>
    <p v-show="!products.length">
      <i>Your cart is empty!</i>
      <router-link to="/">Go shopping</router-link>
    </p>
    <table class="table is-striped" v-show="products.length">
      <thead>
        <tr>
          <td>Name</td>
          <td>Price</td>
          <td>Quantity</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for = "prod in products" :key="prod" v-bind:products="products">
            <td>{{ prod.name }}</td>
            <td>{{ prod.price }} Eur</td>
            <td>
                <input type="number" id="prodValue" v-model="prod.quantity" maxlength="1000"/>
            </td>
          </tr>
          <tr>
            <td><b>Total:</b></td>
            <td></td>
            <td><b>{{ total }} Eur </b></td>
          </tr>
      </tbody>

    </table>
    <p><button v-show="products.length" class='button is-primary' @click= 'checkout'>Checkout</button></p>
    <!-- <p><button v-show="products.length" class='button is-secondary' @click= 'emptyCart'>Empty Cart</button></p> -->
  </div>
</template>
<script>
/* eslint-disable */
import { mapGetters,mapActions } from 'vuex';

export default {
name: 'Cart',
  computed: {
    ...mapGetters({
      products: 'cartProducts'
    }),
    total () {
      return this.products.reduce((total, p) => {
        return total + p.price * p.quantity
      }, 0)
    }
  },
  methods: {
    //  mapActions:([
    //    'emptyCart'
    //    ]),
    checkout(){
      alert('Pay us ' + this.total + 'Eur');
    },
  }

};
</script>
<style>
		input{
			height:34px;
      width: 100px;
      text-align: center;
      font-size: 26px;
			border:1px solid #ddd;
			border-radius:4px;
      display: inline-block;
      vertical-align: middle;
    }
</style>