<template>
<div>

      <div class="container">
            <div class="row">

          <div class="col-lg-4 col-md-6 mb-4"  v-for="product in products" :key = "product" v-bind:products = "products">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" :src="product.image" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a>{{product.name}}</a>
                </h4>
                <h5>EUR {{product.price}}</h5>
                <p class="card-text">{{product.description}}</p>
              </div>
              <div class="card-footer">
                <button @click='addToCart(product)' type="button" class="btn btn-primary">Add to cart</button>
              </div>
            </div>
          </div>
            </div>
        </div>
  
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
name: 'Items',
  computed: mapGetters({
    products: 'allProducts',
    length: 'getNumberOfProducts'
  }),
  methods: mapActions([
    'addToCart'
  ])
};
</script>
<style>
    img{
       width: 18rem;
     }
     .price-disp{
        padding-top: 10px;
     }
     .col-md-4{
       margin-bottom:20px;
     }
</style>
