<template>
<div>
       <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" @click='gotoHome()'>Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <router-link to='/cart' v-if="!($route.path === '/cart')" class="button is-info">
        <span class="icon">
          <i class="shopping-cart"></i>
        </span>
        <span>Cart({{itemsInCart}})</span>
      </router-link>
      </div>
  </nav>
</div>
    
</template>
<script>
//import { mapGetters } from 'vuex';
export default {
name: 'Navigator',
computed: {
    itemsInCart(){
      let cart = this.$store.getters.cartProducts;
      return cart.reduce((accum, item) => accum + item.quantity, 0)
    }
  },
methods: {
  gotoHome(){
    this.$router.push('/');
  }
}
};
</script>

<style>


</style>
