<template>
  <div id="app" class='container'> 
    <Navigator> </Navigator>
   <router-view></router-view>
  </div>
</template>

<script>
import Navigator from './components/Navigator.vue';
export default {
  name: 'app',
  components: {
     Navigator
  }
}
</script>

<style>


</style>
